.green {
    color: #3C6255;
    font-size: 1.8rem;
    cursor: pointer;
}
.red {
    color: #8C2222;
    font-size: 1.8rem;
    cursor: pointer;
}
.details{
    position: absolute;
    right:40px;
    top:20px
}
.bar {
    width: 35px;
    height: 5px;
    background-color: #3C6255;
    margin: 6px 0;
}
.toggle{
    position: absolute;
    right:40px;
    top:10px;
    display: none;
}

.cursor{
    cursor: pointer;
}

.profile{
    width: 200px;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    transition: 500ms;
    z-index: 1;
}
.profile.active{
    right: 0;
    transition: 500ms;
}
.icon-user{
    width: 20px;
}
.hvr:hover{
   color: antiquewhite;
}


@media screen and (max-width : 900px) {
    #navitems{ 
        display:none;
    }
    .toggle{
        display: block;
    }
}

