.email{
    width: 100%;
    border-color: #3C6255;
    outline: none;
}
.buttons{
    
 position: relative;
 top:5px;
 right: -166px;
}
.img{
    width: 100%;
    height: 300px;
    background-color: #3C6255;
}