@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: inter;
  src: url(../public//font/Inter-VariableFont_slnt\,wght.ttf);
}

body {
  font-family: inter;
  background-color: rgb(0, 0, 0);
}